*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-color: #d3ebff;
}


.emergency-residents-container {
  min-height: 18rem;
}

.emergency-residents {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 4px;
  margin-left: 2rem;
}

.healthy-residents {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 4px;
  margin-left: 2rem;

}

.emergency-residents .res-card {
  h3, p {
    background-color: #df6868;
  }
  background-color: #df6868;
}




.res-card {
  width: 10rem;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-family: Arial, sans-serif;

  background-color: #dcdcdc;
}

.res-card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.res-card h3 {
  margin: 5px 0;
  font-size: 22px;
  background-color: #dcdcdc;
}

.res-card p {
  margin: 5px 0;
  color: #555;
  background-color: #dcdcdc;
}